vendor
.env
/storage/*
!/storage/framework/
/storage/framework/*
!/storage/framework/.gitignore
!/storage/framework/cache/
!/storage/framework/sessions/
!/storage/framework/testing/
!/storage/framework/views/
